.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    // no need to specify the rows, because we're creating an implicit grid
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}